.create-contact {
  .box {
    z-index: 1001;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin-top: -121px;
    margin-left: -200px;
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 20px;

    .close {
      position: absolute;
      right: 10px;
      top: 5px;
      color: #000000;
      text-decoration: none;
    }
  }

  .block {
    z-index: 1000;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}